* {
    padding: 0;
    margin: 0;
    border:0;
    font-weight: 500;    
}
.btn{
    font-weight: 600;
}
/*Ko để trùng code -> gây lỗi*/

/*Fix lỗi menu bằng z-index*/
/*.rank1-ul-menu {
    z-index: 9999;    
    }*/
    .right-section {
        box-sizing: border-box;
        /*   height: 157px;*/
        background-color: #f8f9fa;
    }
    .center-banner {
        background-image: url("../image/banner.png");
        height: 150px;
        background-repeat: no-repeat;
        background-size: 550px;
        background-position-x: -28px;
        background-position-y: -108px;
    }   

    /*Begin thêm hình cho phần right-section flexbox header*/
    .top-flex-containner .item1:hover {
        background-image: url("../image/colorful_square_icon.png");
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: -9px -9px;
        transition-duration: .5s;
        }     .top-flex-containner .item2:hover {
            background-image: url("../image/colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -72px -9px;
            transition-duration: .5s;
        }
        .top-flex-containner .item3:hover {
            background-image: url("../image/colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -9px -71px;
            transition-duration: .5s;
        }
        .top-flex-containner .item4:hover {
            background-image: url("../image/colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -73px -132px;
            transition-duration: .5s;
        }
        .top-flex-containner .item5:hover {
            background-image: url("../image/colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -8px -132px;
            transition-duration: .5s;        
        }
        /*Begin hover icon */
        .top-flex-containner .item1 {
            background-image: url("../image/no_colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -9px -9px;
        }
        .top-flex-containner .item2 {
            background-image: url("../image/no_colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -72px -9px;
        }
        .top-flex-containner .item3 {
            background-image: url("../image/no_colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -9px -71px;
        }
        .top-flex-containner .item4 {
            background-image: url("../image/no_colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -73px -132px;
        }
        .top-flex-containner .item5 {
            background-image: url("../image/no_colorful_square_icon.png");
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: -8px -132px;
        }
        /*End hover icon*/
        /*End thêm hình cho phần right-section flexbox header*/



        /*Chỉnh link*/
        a:link {
            text-decoration: none;
            transition-duration: .7s;
        }
        .right-section a:visited {
            color: black;
        }
        .right-section a:active {
            color: #f8f9fa;
            transition-duration: 0.1s;
        }
        .bot-flex-containner .item-link:hover {
            background-color: #ffc107d9;

        }
        .bot-flex-containner .bot-item:hover {
            background: #ffc107d9; /* background: #ffd84e17;*/
            height: auto;
            width: auto;
            margin: 5px;
            margin-bottom: 10px;
            border: 1px solid #ffc107d9;
            border-radius: 4px;
        }
        /*end chỉnh link*/

        /*Search*/
        .search-margin-top {
            margin-top:13px;
        }
        .search input[type=text]{
            transition: width 0.4s ease-in-out;
            width: 60px;
            border:2px solid #ffffff;
            border-radius: 10px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            height: 33px;    
        }

        .search input[type=text]:hover {
            transition: width 0.4s ease-in-out;
            width: 60px;
            border:2px solid #17a2b8;
            width: 86%;
        }
        .search input[type=text]:focus {
            border:2px solid #17a2b8;
            width: 86%;
        }
        .search button[type=submit] {
            border:2px solid #17a2b8;
            border-radius: 10px;
            background-color: white;
            border-radius: 50%;
            width: 35px;
            height: 35px;            
        }
        .search button[type=submit]:hover {
            border:2px solid #607d8b;
            background-color: white;
        }

        /*Begin body*/
        /*chỉnh hình ảnh cho slideshow*/
        .carousel-inner img {
          width: 100%;
          height: 100%;
      }
      .slide {
        width: 100%;
        margin: auto;
        height: auto;
    }

/*End body*/

/*chinh màu cho background*/

/*menu*/
.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1)!important;
}

.img-logo {
    background-color: rgb(255, 193, 7);
}
.left-logo {
    background-color: rgb(255, 193, 7);
    width: 100%;
    height: 157px;
}
.search {
  background-color:#343a40;
}

.title-row {
    background-color: #38d8e82e;
}

.slideshow-row {
    background-color: #f8f9fa!important;
}

.sort-row {
    background-color: #f8f9fa;
}
.top-header-row {
    background-color: #f8f9fa;
}
/*Begin chỉnh menu*/

.parent-li-menu {
    position: relative;
}

.rank1-ul-menu {
    position: absolute;
    z-index: 1;
    display: none;

}
.parent-li-menu:hover .rank1-ul-menu  {
    display: block;
    z-index: 9999;
    background: #343a407d;

}
.rank1-li-menu {
    position: relative;
    width: 125px;
}

/*chỉnh absolute cho div rank2-menu theo rank1-li-menu bên trên (chú ý****)*/
.rank2-menu {
    display: none;
    position: absolute;
    width: 100px;
    height: 140px;
}

.rank1-li-menu:hover .rank2-menu {
    display: block;
    left: 125px;
    top:8px;
    background: #343a407d;  
}
.rank2-ul-menu {
    position: absolute;
    top: 20px;

}
/*Chỉnh menu cấp 3*/
.rank3-menu {
    position: absolute;
    display: none;
    width: 100px;
    height: 140px;
}
.rank2-li-menu {
    width: 100px;
}
.rank2-li-menu:hover .rank3-menu {
    display: block;
    left: 100px;
    top: -20px;
    background: #343a407d;  
}

.rank3-ul-menu {
    position: absolute;
    top: 20px;
}
/*End chỉnh menu*/


/*chỉnh dòng kẻ ngang cho sản phẩm*/
.horizontal-line {
    display: flex;
    position: relative;
    height: 20px;
    margin-top: 15px;
}
.product-name-title {
    font-size: 16px;
    font-weight: bolder;
    margin-right: 10px;
    top: -7px;
    position: relative;
}
.line {
    position: absolute;
    border-top: 2px solid #333;
    border-color: black;
    width: 614px;
    left: 315px;
    top: 6px;}

    /*sản phẩm*/
.overlay {
    position: absolute;
    left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 35%;
    transition: .4s ease;
    transition-delay: .4s;
    opacity: 0;
    color: white;
    text-align: center;
    left: 33%;
    box-shadow: 0px 3px 3px #7f7979a3;
}
.card-img:hover .overlay {
    opacity: 1;
}
.card-img {
    position: relative;
    transition: 0.5s;
    margin: 8px 0 8px 0;
}
.card-img:hover {
    transform: scale(1.15); 
}

.card {
    width: 100%;
    position: relative;
}
.product-img {
    width: 100%;

}
.product-button {
    display: flex;
    justify-content: space-around;
}
.center-text {
    text-align: center;
}
.heart-icon:hover {
    cursor:pointer;
}
.black-heart-icon {
    display: none;
}

.brand {
    position: absolute;
    background: #fc636b ;
    color: #fff;
    display: inline-block;
    padding: 2px 6px 4px;
    top: -1px;
    right: -1px;
    z-index: 1;
    border:0.5px solid #e0cece;
    border-radius: 6px;
    animation-name: effect;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
@keyframes effect {
    from {
        border: 4px dotted #fc636b;
        text-shadow: 5px 0px 11px #e3a7a4;
    }
    to {
        border: 4px dotted  #343a40;
        text-shadow: 0 0 3px #343a40;, 0 0 5px #0000FF;
    }
}
/*end sản phẩm*/

/*footer*/
.footer-link {
    color: black;
    text-decoration: none;
}
.youtube-link {
    color:  #ff0000;
    text-decoration: none;
}

.twitter-link {
    color:  #1da1f2;
    text-decoration: none;
}
.facebook-link {
    color:  #3b5998;
    text-decoration: none;
}
.snapchat-link {
    color:  rgb(255, 193, 7);;
    text-decoration: none;
}

.youtube-link:hover {
    color:  #ff0000;
    opacity: 0.5;
}
.twitter-link:hover {
    color:  #1da1f2;
    opacity: 0.5;
}
.facebook-link:hover {
    color:  #1da1f2;
    opacity: 0.5;
}
.snapchat-link:hover {
    color:  #fede42;
    opacity: 0.5;
}


.payment-container .card1 {
    background: url("../image/CreditCardLogo.png");
    background-repeat: no-repeat;
    background-size: 484px;
    background-position: -30px -28px
}

.payment-container .card2 {
    background: url("../image/CreditCardLogo.png");
    background-repeat: no-repeat;
    background-size: 517px;
    background-position: -34px -115px;
}
.payment-container .card3 {
    background: url("../image/CreditCardLogo.png");
    background-repeat: no-repeat;
    background-size: 430px;
    background-position: -20px -161px;
}
.payment-container .card4 {
    background: url("../image/CreditCardLogo.png");
    background-repeat: no-repeat;
    background-size: 462px;
    background-position: -133px -26px;
}
.payment-container .card5 {
    background: url("../image/CreditCardLogo.png");
    background-repeat: no-repeat;
    background-size: 428px;
    background-position: -219px -162px;
}
.payment-container .card6 {
    background: url("../image/CreditCardLogo.png");
    background-repeat: no-repeat;
    background-size: 435px;
    background-position: -225px -23px;
}

.service-ol {
    margin-left: 25px;
    list-style-type: none;
}
.rights-text {
    text-align: center;
    text-shadow: 10px;
}
.email-footer .box {
    width: 210px;
}
.email-footer input[type="email"] {
    height: 38px;
    background: #ebebeb;    
    border: 0;
    padding: 12px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, .5);
    color: #CCC;
    text-transform: uppercase;
    width: 210px;
    font-weight: 700;
    transition: all .2s ease;    
}
.email-footer input[type="email"]:hover {
    background: #ffffff;

}       
.email-footer input[type="submit"] {
    border: 1px solid;
    height: 33px;
    width: 100px;
    transition-duration: 1s;
    text-shadow: 1px 2px 8px;  
    text-align: left;     
    padding-left: 13px;
}
.email-footer input[type="submit"]:hover {
    border: 1px solid;
    width: 100%;
    background-color: #3ed4ffbd;
    box-shadow: 0 8px 6px -6px black;    
    padding-left: 13px;
}
.about {
    text-align: center;
}
.about .link {
    color: black;
}
/*end footer*/

/*begin trangchitietsanpham */

/*begin left slideshow galerry*/
.product-slideshow {
    background-color: #f2f3f4;
}
.slideImg {
    width: 100%;
}
.slidesInBox {
    display: none;
}
.product-image .container {
    position: relative;
    user-select: none;
}
.pre, .next {
    position: absolute;
    top: 44%;
    opacity: 0.1;
    z-index: 1;
}
.pre:hover, .next:hover {
    cursor: pointer;
    opacity: 0.8;    
}
.galerryItem {
    cursor: pointer;
    opacity: 0.3;
}
.active, .galerryItem:hover {
    opacity: 1;
}

.galerry-row {
    padding-top: 10px;
}
.next {
    right: 39px;#6c757d
}
.numberText {
    font-size: 20px;
    font-weight: bold;
    color: #6c757d;    
}
/*end left slideshow galerry*/
/*begin right info product*/
.promotion-ofer .text {
    font-weight: 500;
}
.promotion-ofer .promotion-text {
    background-color: #e5f7ec;
    color: #00ae42;
    padding: 4px 6px;
    border-radius: 7px;    
}

.productName {
    color: #6c757d;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 800;
}
.product-infomation {
    height: 440px;
    line-height: 26px;    
}
.product-infomation .status {
   font-weight: 600;
   color: #f39f48;   
}
.productPrice, .quantity {
    border: 1px solid #edeff1;
    border-left: 0;
    border-right: 0;    
    margin-bottom: 15px;    
}

.productPrice .old-price {
    font-size: 30px;
    color: #21202085;
    font-weight: 600;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}
.productPrice .new-price {
    font-size: 20px;
    color: #212020;
    font-weight: 600;
}
.size-list >a {
    display: inline-block;
    margin-left: 10px;
    color: #000;
    border: 1px solid #000;
    padding: 0 5px;
    font-size: 13px;
}
.size-list>a:focus {
    border-color: #ddd;
    background: #ff070761;   
}
.size-list>a:hover, .size-list>a.active  {
    color: #000;
    border-color: #ddd;
    background: #ff070761;
}    
.color-list-ul >.color-list-li {
    display: inline-block;
    white-space: nowrap;
    padding: 0px 10px;
    width: auto;
}
.color-list-ul >.color-list-li:hover {
    background-color: #bbb9ce;
    border-radius: 2px;
}
.color-list-li>a:focus {
    border-radius: 10rem;
    box-shadow: 0px 1px 7px red;
}
.color-list-ul {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
}
.quantity input[type="text"] {
    padding: 4px 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 8%;
    height: 43px;
    text-align: center;
    font-weight: 600;    
}
.cart-form  .cart-button {
    display:inline-block;
}
.link-bnt {
    text-decoration: none;
    color: black;
}
.link-bnt:hover {
    text-decoration: none;
    color: white;
}
/*end *begin right info product*/

/*Begin chỉnh tab thông tin & mô tả, bình luận, đánh giá*/
.tab {
    height: 45px;
}
.tab .active:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #dddddd;
    border-left: 10px solid rgba(69, 42, 21, 0);
    border-right: 10px solid rgba(199, 57, 57, 0);
    left: 45%;
    top: 100%;
    z-index: 1;
}
.tab button {
    border: none;
    outline: none;
    position: relative;     
}
.tab button:hover {
  background-color: #f1f1f1;

}

.tab-content {
    display: none;
}
.tab-content1 {
    height: 315px;
    background-color: #ebaaad;
}
.tab-content2 {
    height: 315px;
    background-color: #f1a27491;
    overflow: scroll; //good
}


.tab-content3 {
    height: 315px;
    background-color: pink;
}

.reviewer-box {
    width: 52%;
    margin: auto; 
    padding: 10px 0 10px;       
}
/*Tạo avatar phần bình luận*/
.avatar-content {
    border-radius: 200px;
    background-color: #e2e2e2;

}
.reviewer-box .avatar-img {
    border-radius: 50%;
    background: #d3d2d3;
    color: #919090;
    font-weight: 500;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background-image: url("../image/review-icon.jpg");    
    background-position: -70px -65px;
    background-repeat: no-repeat;
    background-size: 375px;
    cursor: pointer; 
}
.reviewer-box .avatar-img2 {
    border-radius: 50%;
    background: #d3d2d3;
    color: #919090;
    font-weight: 500;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background-image: url("../image/review-icon.jpg");    
    background-position: -268px -71px;
    background-repeat: no-repeat;
    background-size: 393px;
    cursor: pointer;    
}
.reviewer-box .avatar-img3 {
    border-radius: 50%;
    background: #d3d2d3;
    color: #919090;
    font-weight: 500;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background-image: url("../image/review-icon.jpg");    
    background-position: -139px -134px;
    background-repeat: no-repeat;
    background-size: 392px;
    cursor: pointer;    
}
.reviewer-box .date {
    font-size: 12px;
    color: #999;
    margin: -2px 0 0;
    text-align: center;
}  
.reviewer-box .detail {
    font-size: 12px;
    color: #999;
    margin: -2px 0 0;
    text-align: center;
    cursor: pointer;
}      
.reviewer-box .review-star {
    color: #ffe52ef0;
    user-select: none;
}


/*Begin css cho Form trang chi tiet san pham*/


.err-message {
    color:red;
    display: none;
}
/*End css form*/

/*Begin jQuery Zoom_css */


        .zoom {

            position: relative;
        }
        
        /* magnifying glass icon - */
        .zoom:after {
            content:'';
            display:block; 
            width:33px; 
            height:33px; 
            position:absolute; 
            top:0;
            right:0;
            background:url(../image/magnifying-glass-icon.png);
        }

        .zoom img {
            display: block;
        }

        .zoom img::selection { background-color: transparent; }

        #style2 img:hover { cursor: url(grab.cur), default; }
        #style2 img:active { cursor: url(grabbed.cur), default; }
/*End jQuery Zoom_css */
/*end trangchitietsanpham*/

/*begin tranggiohang*/
.header-cart {
    background-color: yellowgreen;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
}
.cart-box h5 {
    text-align: center;
    font-weight: 400;    
}
.empty-cart {
    height: 300px;
    background-color: whitesmoke;    
}

.empty-cart h1 {
    color:#515252;
    text-align: center;
}
.product-content .top-cart-box {
    width: 190px;
}
.product-content .quantity {
    margin-top: 45px;
}
.product-content .product-image {
/*    height: 125px;
    width: auto;
    background-color: pink;*/
    margin: 10px;   
}
.details h6 {
    text-align: center;
}

.product-quantity button {

    margin: auto;    
}
.product-quantity input[name=quantity]:focus {
    outline:0;
}
.product-quantity input[name=quantity] {
    padding: 10px;
    width: 37%;
    margin: auto;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;    
    color: #43484D;
}
.product-price:after {
    content:'đồng';
}
.product-price {
    margin-top: 60px;
    text-align: left;
    font-weight: 400; 
    font-size: 20px;
    font-weight: 500;
    float: right;
    padding-right: 20px;
}     
.product-content {
    display: -webkit-box;
}
.product-content .product-quantity {
    margin-top: 26%;
    margin-left: 10px;
}
.product-content .box1 { 
    width: 190px;
}
 .product-content .box2 { 
    width: 380px;
}
.product-content .box3 { 
    width: 190px;
}
.product-content .box4 { 
    width: 95px;
}
.product-content .box5 { 
    width: 285px;
}    
.product-remove {
    margin-top: 60%;    
}
.product-remove button {
    width: 100%;
}
.table-box caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: black;
    text-align: left;
    caption-side: top;
    font-size: 22px;
}

.table-box input {
    text-align: center;
}

.table-box>table {
    width: 100%;
}
table input{
    outline:0;
}

.table-box th {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.table-box th, tr, td {
    border: 1px solid black;
    text-align: center;
}
.total-box button {
    font-weight: 700;
}
.total-box {
    line-height: 45px;
    font-size: 20px;    
}
.total-box .label {
    color:#aaa;
    text-align: left;
}
.total-box .cost {
    text-align: right;
    float: right;
    padding-right: 20px;
}
.total-box .cost:after { 
    content: ' đồng';
}
.total-box .total-item2 {
    border: 2px solid #edeff1;
    border-left: 0;
    border-right: 0;
    border-top: 0;       
}
/*end tranggiohang*/